In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
crime_file = "Resources/KCPD_Crime_Data.csv"
crime_df = pd.read_csv(crime_file)
crime_df.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Zip Code,Rep_Dist,Area,DVFlag,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,KC20000013,01/01/2020,2020-01-01T00:16:58.000,01/01/2020,2020-01-01T01:15:00.000,NaN,NaN,Assault (Aggravated),13A,Aggravated Assault,...,64116.0,PP0674,NPD,N,VIC,U,F,NaN,True,NaN
1,KC20000076,01/01/2020,2020-01-01T08:16:32.000,01/01/2020,2020-01-01T09:00:00.000,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,64106.0,PJ1191,CPD,N,ARR CHA SUS,B,M,31.0,False,NaN
2,KC20000125,01/01/2020,2020-01-01T12:41:34.000,01/01/2020,2020-01-01T12:41:00.000,NaN,NaN,Robbery (Armed Street),120,Robbery,...,64124.0,PJ0573,CPD,N,ARR CHA SUS,B,M,NaN,True,NaN
3,KC20000164,01/01/2020,2020-01-01T15:40:50.000,01/01/2020,2020-01-01T15:39:00.000,NaN,NaN,Domestic Violence Assault (Non-Aggravated),13A,Aggravated Assault,...,64127.0,PJ2286,EPD,Y,VIC SUS,B,F,32.0,False,NaN
4,KC20000304,01/02/2020,2020-01-02T09:45:51.000,01/01/2020,2020-01-01T14:00:00.000,NaN,NaN,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,...,64114.0,NaN,SPD,N,VIC,B,M,30.0,False,NaN

In [6]:
covid_file = "COVID-Data.csv"
covid_df = pd.read_csv(crime_file)
covid_df.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Zip Code,Rep_Dist,Area,DVFlag,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,KC20000013,01/01/2020,2020-01-01T00:16:58.000,01/01/2020,2020-01-01T01:15:00.000,NaN,NaN,Assault (Aggravated),13A,Aggravated Assault,...,64116.0,PP0674,NPD,N,VIC,U,F,NaN,True,NaN
1,KC20000076,01/01/2020,2020-01-01T08:16:32.000,01/01/2020,2020-01-01T09:00:00.000,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,64106.0,PJ1191,CPD,N,ARR CHA SUS,B,M,31.0,False,NaN
2,KC20000125,01/01/2020,2020-01-01T12:41:34.000,01/01/2020,2020-01-01T12:41:00.000,NaN,NaN,Robbery (Armed Street),120,Robbery,...,64124.0,PJ0573,CPD,N,ARR CHA SUS,B,M,NaN,True,NaN
3,KC20000164,01/01/2020,2020-01-01T15:40:50.000,01/01/2020,2020-01-01T15:39:00.000,NaN,NaN,Domestic Violence Assault (Non-Aggravated),13A,Aggravated Assault,...,64127.0,PJ2286,EPD,Y,VIC SUS,B,F,32.0,False,NaN
4,KC20000304,01/02/2020,2020-01-02T09:45:51.000,01/01/2020,2020-01-01T14:00:00.000,NaN,NaN,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,...,64114.0,NaN,SPD,N,VIC,B,M,30.0,False,NaN

In [ ]:
new_crime_df = crime_df[['id', 'first_name', 'last_name']].copy()
new_crime_df.head()