In [15]:
!pip install sodapy

Requirement already satisfied: sodapy in c:\users\areej\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\areej\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\areej\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\areej\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\areej\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\areej\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine

In [17]:
client = Socrata("data.kcmo.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [18]:
# API Calls
crimeresults = client.get("vsgj-uufz", limit=65000)

In [19]:
results_df = pd.DataFrame.from_records(crimeresults)
results_df

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,sex,age,firearm_used_flag,zip_code,rep_dist,location,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm
0,KC20000380,2020-01-02T14:00:30.000,14:00,2019-12-30T17:50:00.000,17:50,2019-12-30T18:00:00.000,18:00,Stealing – Shoplift,23C,Shoplifting,...,M,34,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KC20000485,2020-01-02T19:39:29.000,19:39,2020-01-02T19:39:00.000,19:39,2020-01-02T20:33:00.000,20:33,Outside State Warrant Arrest,90C,Disorderly Conduct,...,M,45,False,64127,PJ2173,NaN,NaN,NaN,NaN,NaN
2,KC20000494,2020-01-02T20:04:12.000,20:04,2020-01-02T21:00:00.000,21:00,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,M,21,False,64086,NaN,NaN,NaN,NaN,NaN,NaN
3,KC20000565,2020-01-03T09:45:51.000,09:45,2020-01-03T09:09:00.000,09:09,NaN,NaN,State Warrant Arrest,NaN,NaN,...,F,36,False,64106,PJ1046,NaN,NaN,NaN,NaN,NaN
4,KC20000603,2020-01-03T12:10:50.000,12:10,2020-01-03T12:05:00.000,12:05,NaN,NaN,Stealing – Shoplift,23C,Shoplifting,...,NaN,NaN,False,64114,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61929,KC20048644,2020-07-21T17:47:49.000,17:47,2020-07-21T17:42:00.000,17:42,NaN,NaN,Miscellaneous City Ordinance Violation,NaN,NaN,...,M,51,False,64129,PJ4133,"{'latitude': '39.033077', 'longitude': '-94.50...",7,155,20,2
61930,KC20054960,2020-08-14T22:09:15.000,22:09,2020-08-14T22:09:00.000,22:09,NaN,NaN,Domestic Violence Assault (Non-Aggravated),13B,Simple Assault,...,M,18,False,NaN,PJ5548,"{'latitude': '38.997893', 'longitude': '-94.55...",7,151,131,2
61931,KC20054887,2020-08-14T16:20:43.000,16:20,2020-08-04T12:00:00.000,12:00,2020-08-14T08:00:00.000,08:00,Stealing from Auto (Theft from Auto),23H,All Other Larceny,...,F,42,False,64126,PJ1425,NaN,NaN,NaN,NaN,NaN
61932,KC20050284,2020-07-28T02:10:15.000,02:10,2020-07-28T01:33:00.000,01:33,NaN,NaN,Rape – Statutory,36B,Statutory Rape,...,F,NaN,False,64108,PJ1962,"{'latitude': '39.083897', 'longitude': '-94.57...",7,92,97,4
61933,KC20053476,2020-08-09T13:34:49.000,13:34,2020-08-09T04:00:00.000,04:00,NaN,NaN,Stolen Auto,240,Motor Vehicle Theft,...,M,37,False,64108,NaN,"{'latitude': '39.090307', 'longitude': '-94.59...",7,92,149,4

In [20]:
#df=results_df.dropna(how='all')

In [26]:
importantcolumns = ['firearm_used_flag','zip_code','report_no', "offense", "description", "sex", "age","race"]
importantcolumns

['firearm_used_flag',
 'zip_code',
 'report_no',
 'offense',
 'description',
 'sex',
 'age',
 'race']

In [22]:
for column in importantcolumns:
    print(column)
    print(results_df[column].value_counts())
    print(f"\n")

firearm_used_flag
False    55995
True      5939
Name: firearm_used_flag, dtype: int64


zip_code
64130    4021
64127    3612
64111    3609
64134    2654
64132    2449
         ...
64142       1
64011       1
64506       1
64321       1
64192       1
Name: zip_code, Length: 135, dtype: int64


report_no
KC20035353    104
KC20026792     50
KC20004714     42
KC20035416     33
KC20035547     30
             ...
KC20003648      1
KC20006201      1
KC20003675      1
KC20012892      1
KC20056098      1
Name: report_no, Length: 35669, dtype: int64


offense
Domestic Violence Assault (Non-Aggravated)    5536
Assault (Aggravated)                          4303
Stolen Auto                                   4020
Property Damage                               4004
Stealing from Auto (Theft from Auto)          3427
                                              ...
Discharge of Firearm (LEO Only)                  2
Possession of Forgery Instrument                 2
Confiscated Firearm                              2
Unlawful Endangerment of Another                 2
Outside Correspondence                           1
Name: offense, Length: 133, dtype: int64


description
Simple Assault                              8191
Aggravated Assault                          6811
Vandalism/Destruction of Property           5074
Motor Vehicle Theft                         4014
Theft From Motor Vehicle                    3295
Burglary/Breaking and Entering              3045
Shoplifting                                 2935
All Other Offenses                          2588
Robbery                                     2220
All Other Larceny                           2122
Trespass of Real Property                   2029
Theft From Building                         1632
Theft of Vehicle Parts and Accessories      1552
Intimidation                                1208
Drug / Narcotic Violations                  1001
Disorderly Conduct                           857
Stolen Property Offenses                     733
Driving Under the Influence                  655
False Pretenses / Swindle                    644
Identity Theft                               493
Counterfeiting / Forgery                     461
Weapon Law Violations                        456
Credit Card / Automatic Teller               413
Forcible Rape                                368
Family Offenses, Nonviolent                  355
Murder                                       330
Forcible Sodomy                              261
Arson                                        211
Wire Fraud                                   206
Embezzlement                                 196
Drug Equipment Violations                    172
Forcible Fondling                            106
Statutory Rape                                76
Curfew / Loitering / Vargancy Violations      53
Pocket-Picking                                53
Pornography / Obscene Material                47
Kidnapping / Abduction                        33
Purse-Snatching                               24
Extortion / Blackmail                         22
Hacking / Computer Invasion                   21
Theft From Coin-Operated Machine              19
Liquor Law Violations                         16
Prostitution                                  15
Bad Checks                                    15
DV Related Suicide                            14
Sexual Assault With An Object                 14
Justifiable Homicide                          14
Drunkenness                                   12
Welfare Fraud                                  9
Purchasing Prostitution                        8
Assisting or Promoting Prostitution            7
Impersonation                                  7
Commercial Sex Acts                            6
Incest                                         4
Animal Cruelty                                 3
Peeping Tom                                    2
Involuntary Servitude                          2
Betting / Wagering                             1
Name: description, dtype: int64


sex
M    33409
F    21174
U      604
Name: sex, dtype: int64


age
30    1835
25    1624
29    1596
27    1567
28    1532
      ...
94       3
96       2
99       1
97       1
98       1
Name: age, Length: 82, dtype: int64


race
B    26629
W    25318
U     2322
I      161
Name: race, dtype: int64

In [29]:
df = results_df[importantcolumns]
firearmtrue = df.loc[df['firearm_used_flag'] == True]
firearmtrue

,firearm_used_flag,zip_code,report_no,offense,description,sex,age,race
19,True,NaN,KC20002513,Murder,Murder,F,38,W
31,True,64123,KC20003763,Assault (Aggravated),Aggravated Assault,F,77,U
46,True,64111,KC20005997,Robbery (Business),Robbery,F,29,W
56,True,NaN,KC20008084,Assault (Aggravated),Aggravated Assault,M,28,B
68,True,64155,KC20009838,Robbery (Residential),Robbery,M,NaN,B
...,...,...,...,...,...,...,...,...
61788,True,64132,KC20048705,Assault (Aggravated),Aggravated Assault,M,46,B
61853,True,64127,KC20050517,Assault (Aggravated),Aggravated Assault,F,22,B
61860,True,64130,KC20056543,Assault (Aggravated),Aggravated Assault,F,40,B
61862,True,64137,KC20049407,Domestic Violence Burglary (Residential),Aggravated Assault,M,35,B
61886,True,64134,KC20054443,Assault (Aggravated),Aggravated Assault,F,27,B

In [30]:
for column in importantcolumns:
    print(column)
    #print(firearmtrue[column].value_counts())
    #print(f"\n")

firearm_used_flag
zip_code
report_no
offense
description
sex
age
race

In [31]:
importantcolumns = df[importantcolumns]
importantcolumns

,firearm_used_flag,zip_code,report_no,offense,description,sex,age,race
0,False,NaN,KC20000380,Stealing – Shoplift,Shoplifting,M,34,B
1,False,64127,KC20000485,Outside State Warrant Arrest,Disorderly Conduct,M,45,B
2,False,64086,KC20000494,City/Municipal Warrant Arrest,NaN,M,21,B
3,False,64106,KC20000565,State Warrant Arrest,NaN,F,36,B
4,False,64114,KC20000603,Stealing – Shoplift,Shoplifting,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
61929,False,64129,KC20048644,Miscellaneous City Ordinance Violation,NaN,M,51,B
61930,False,NaN,KC20054960,Domestic Violence Assault (Non-Aggravated),Simple Assault,M,18,B
61931,False,64126,KC20054887,Stealing from Auto (Theft from Auto),All Other Larceny,F,42,W
61932,False,64108,KC20050284,Rape – Statutory,Statutory Rape,F,NaN,W
61933,False,64108,KC20053476,Stolen Auto,Motor Vehicle Theft,M,37,W

In [34]:
df=importantcolumns.dropna(how='all')
df

,firearm_used_flag,zip_code,report_no,offense,description,sex,age,race
0,False,NaN,KC20000380,Stealing – Shoplift,Shoplifting,M,34,B
1,False,64127,KC20000485,Outside State Warrant Arrest,Disorderly Conduct,M,45,B
2,False,64086,KC20000494,City/Municipal Warrant Arrest,NaN,M,21,B
3,False,64106,KC20000565,State Warrant Arrest,NaN,F,36,B
4,False,64114,KC20000603,Stealing – Shoplift,Shoplifting,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
61929,False,64129,KC20048644,Miscellaneous City Ordinance Violation,NaN,M,51,B
61930,False,NaN,KC20054960,Domestic Violence Assault (Non-Aggravated),Simple Assault,M,18,B
61931,False,64126,KC20054887,Stealing from Auto (Theft from Auto),All Other Larceny,F,42,W
61932,False,64108,KC20050284,Rape – Statutory,Statutory Rape,F,NaN,W
61933,False,64108,KC20053476,Stolen Auto,Motor Vehicle Theft,M,37,W

In [13]:
crime_df.to_csv('NewCrime.csv')