In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
COVID_path = "API- CSV/NewCOVID.csv"
Crime_path = "API- CSV/NewCrime.csv"

COVID = pd.read_csv(COVID_path)
Crime = pd.read_csv(Crime_path)

In [10]:
# Combine the data into a single dataset
combined = pd.merge(COVID, Crime, how='outer', on='zip_code')
combined

,Unnamed: 0_x,zip_code,cases,crude_rate_per_100_000,Unnamed: 0_y,firearm_used_flag,report_no
0,3.0,64106,186.0,1994.42,610.0,True,KC20003970
1,3.0,64106,186.0,1994.42,1074.0,True,KC20011948
2,3.0,64106,186.0,1994.42,1764.0,True,KC20008387
3,3.0,64106,186.0,1994.42,2151.0,True,KC20015668
4,3.0,64106,186.0,1994.42,4065.0,True,KC20001088
...,...,...,...,...,...,...,...
4544,NaN,64053,NaN,NaN,26943.0,True,KC20019100
4545,NaN,64053,NaN,NaN,27046.0,True,KC20026449
4546,NaN,63124,NaN,NaN,37680.0,True,KC20044939
4547,NaN,63124,NaN,NaN,44662.0,True,KC20044939
4548,NaN,63124,NaN,NaN,49807.0,True,KC20044939

In [11]:
weather_df=pd.DataFrame({"City Name": city_name, "Latitude": lat, "Longitude":lng, "Max Temp":max_temp, "Humidity":humidity,\
                         "Cloudiness":cloudiness, "Wind Speed":wind_speed, "Country":country, "Date":date})
weather_df.head()

TypeError: 'function' object is not subscriptable